<<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manage Employees </title>
	<link rel="stylesheet" href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container-fluid">
		<div>
			<h1>Manage Employees</h1>
		</div>
		<div>
			<table align="center">
				<thead>
					<tr>
						<th>Employee Id</th>
						<th>Employee Name</th>
						<th>Employee Department</th>
						<th>Employee Designation</th>
						<th>Employee Salary</th>
						<th>Update or delete</th>
					</tr>
				</thead>
				<tbody>
				<tr
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>
</table>
</div>
</div>
</body>

</html>